#ecotech {
  min-height: calc(100vh - 93px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

#ecotech img {
  width: 100%;
  max-width: 500px;
  height: auto;
  z-index: 2;
  margin-top: -5%;
  margin-left: 38rem;
}

#ecotech .shape-ecotech {
  width: 50%;
  height: 100%;
  position: absolute;
  border-radius: 5% 5% 5% 5%;
  top: 120vh;
  left: 80px;
  z-index: 1;
  color: #308879;
  padding: 3rem;
  padding-top: 9rem;

  font-size: 2.5rem;
}

#ecotech .shape2-ecotech {
  background-color: #308879;
  width: 20%;
  height: 10%;
  position: absolute;
  border-radius: 8px;
  top: 125vh;
  left: 125px;
  z-index: 2;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #ffffff;
}
#ecotech .shape3-ecotech {
  background-color: #f6f1eb;
  width: 85%;
  height: 100%;
  position: absolute;
  border-radius: 5% 5% 5% 5%;
  top: 120vh;
  left: 80px;
  z-index: 1;
  padding: 5rem;
  filter: blur(2px);
}
@media (max-width: 1320px) {
  #ecotech .shape-ecotech {
    font-size: 2.2rem;
  }
}

@media (max-width: 1170px) {
  #ecotech {
    flex-direction: column;
    padding: 2rem;
  }

  #ecotech img {
    margin: 0;
    margin-top: -18rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 200px;
  }

  #ecotech .shape-ecotech,
  #ecotech .shape2-ecotech,
  #ecotech .shape3-ecotech {
    position: static;
    width: 100%;
    padding: 2rem;
    margin-bottom: 15rem;
    font-size: 1.5rem;
  }
  #ecotech .shape2-ecotech {
    font-size: 2rem;
    font-weight: 600;
  }
  #ecotech .shape3-ecotech {
    display: none;
  }
  #ecotech .shape-ecotech {
    background-color: #f6f1eb;
    color: #308879;
  }
}

@media (max-width: 768px) {
  #ecotech {
    flex-direction: column;
    padding: 2rem;
  }

  #ecotech img {
    margin: 0;
    margin-top: -4rem;
    width: 100%;
    max-width: 200px;
  }

  #ecotech .shape-ecotech,
  #ecotech .shape2-ecotech,
  #ecotech .shape3-ecotech {
    position: static;
    width: 100%;
    padding: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  #ecotech .shape2-ecotech {
    font-size: 2rem;
    font-weight: 600;
  }
  #ecotech .shape3-ecotech {
    display: none;
  }
  #ecotech .shape-ecotech {
    background-color: #f6f1eb;
    color: #308879;
  }
}
