#ecotech {
  min-height: calc(100vh - 93px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

#ecotech img {
  width: 100%;
  max-width: 500px;
  height: auto;
  z-index: 2;
  margin-top: -5%;
  /* background-color: tomato; */
}

#ecotech .shape-ecotech {
  background-color: #ffffff;
  width: 87%;
  height: 100%;
  position: absolute;
  border-radius: 5% 5% 5% 5%;
  top: 120vh;
  left: 50px;
  z-index: 1;
  filter: blur(10px);
  opacity: 0.7;
}

#ecotech .shape2-ecotech {
  background-color: #308879;
  width: 20%;
  height: 10%;
  position: absolute;
  border-radius: 8px;
  top: 133.5vh;
  left: 102.5px;
  z-index: 2;
}

#ecotech_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

#ecotech_content .section-title {
  color: #ffffff;
  font-size: 3rem;
}

#ecotech_content .section-subtitle {
  color: #308879;
  font-size: 2.4rem;
}

#ecotech_content .ecotech-description {
  /* position: relative; */
  z-index: 3;
}
