#objetivos {
  min-height: calc(100vh - 93px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  padding: 0;
}

#objetivos img {
  width: 100%;
  height: auto;
  z-index: 2;
  margin-top: -3%;
  margin-left: 34rem;
  max-width: 500px;
}

#objetivos .shape-objetivos {
  width: 40%;
  height: 97%;
  position: absolute;
  border-radius: 5% 5% 5% 5%;
  top: 346vh;
  left: 60px;
  font-size: 1.3rem;
  padding-top: 2rem;
  z-index: 2;
  color: #02403b;
}

#objetivos .shape2-objetivos {
  background-color: #5aaa99;
  width: 35%;
  height: 15%;
  position: absolute;
  border-radius: 8px;
  top: 340vh;
  left: 92px;
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.1);
  z-index: 2;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 2rem;
}

#objetivos .shape3-objetivos {
  background-color: #f6f1eb;
  width: 40%;
  height: 70%;
  position: absolute;
  border-radius: 5% 5% 5% 5%;
  top: 350vh;
  left: 60px;
  z-index: 1;
  filter: blur(2px);
}

#objetivos .shape-objetivos li {
  padding: 2rem;
}

@media (max-width: 1360px) {
  #objetivos .shape-objetivos {
    font-size: 1.2rem;
    padding-top: 2rem;
  }
}

@media (max-width: 1280px) {
  #objetivos .shape-objetivos {
    font-size: 1.1rem;
    padding-top: 2rem;
  }
}

@media screen and (max-width: 1170px) {
  #objetivos {
    flex-direction: column;
    margin-top: 0;
    padding-top: 0;
  }

  #objetivos img,
  #objetivos .shape3-objetivos {
    display: none;
  }

  #objetivos .shape2-objetivos {
    width: 60%;
    height: 10%;
    position: static;
    margin-top: 5rem;
    margin-bottom: 0rem;
    padding: 1rem;
    font-size: 1.5rem;
  }
  #objetivos .shape-objetivos {
    width: 80%;
    height: 20%;
    position: static;
    margin-top: 0;
    font-size: 1rem;
    background-color: #f6f1eb;
    padding: 1rem;
  }
}

@media (max-width: 426px) {
  #objetivos {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 16px;
    position: relative;
  }

  #objetivos img {
    margin: 0;
    max-width: 100%;
    height: auto;
    z-index: 1;
  }

  #objetivos .shape-objetivos {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    font-size: 1rem;
    padding: 1rem;
    z-index: 2;
    text-align: center;
  }

  #objetivos .shape2-objetivos {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    padding: 0.75rem;
    text-align: center;
  }

  #objetivos .shape3-objetivos {
    display: none;
  }
}
