#objetivos {
  min-height: calc(100vh - 93px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

#objetivos_content .section-title {
  color: red;
}

#objetivos_content .section-subtitle {
  color: rgb(25, 0, 255);
}
