#visao {
  min-height: calc(100vh - 93px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

#visao img {
  width: 100%;
  height: auto;
  display: block;
  margin-right: 33rem;
  margin-top: 0%;
  max-width: 600px;
}

#visao .shape-visao {
  width: 35%;
  height: 80%;
  position: absolute;
  border-radius: 5% 5% 5% 5%;
  top: 450vh;
  left: 46rem;
  font-size: 1.9rem;
  padding: 2.5rem;
  padding-top: 3rem;
  line-height: 1.3;
  display: flex;
  z-index: 2;
  color: #ffffff;
}

#visao .shape2-visao {
  background-color: #ffffff;
  width: 30%;
  height: 10%;
  position: absolute;
  border-radius: 8px;
  top: 444vh;
  left: 48rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  z-index: 3;
  box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.4);
  color: #30633b;
}

#visao .shape3-visao {
  background-color: #2e6239;
  width: 35%;
  height: 80%;
  position: absolute;
  border-radius: 5% 5% 5% 5%;
  top: 450vh;
  left: 46rem;
  font-size: 1.9rem;
  padding: 2.5rem;
  padding-top: 5rem;
  line-height: 1.3;
  display: flex;
  z-index: 1;
  color: #ffffff;
  filter: blur(2px);
}
@media screen and (min-width: 1400px) and (max-width: 1920px) {
  #visao img{
    margin-right: 50rem;
    margin-top: 15%;
  }
  #visao .shape2-visao{
    left: 68rem;
    top: 410vh;
    font-size: 3rem;
    
  }
  #visao .shape-visao{
    left: 65rem;
    top: 415vh;
    font-size: 2.7rem;
    padding: 4rem;
  }
  #visao .shape3-visao{
    left: 65rem;
    top: 415vh;
  }

}

@media (max-width: 1280px) {
  #visao .shape-visao {
    font-size: 1.67rem;
    padding-top: 3rem;
  }
}

@media screen and (max-width: 1170px) {
  #visao {
    flex-direction: column;
    padding: 0rem;
    position: relative;
    margin-top: 0rem;
  }

  #visao img,
  #visao .shape3-visao {
    display: none;
  }

  #visao .shape2-visao {
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #30633b;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    margin-top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

  #visao .shape-visao {
    width: 70%;
    height: auto;
    background-color: #2e6239;
    padding-top: 4rem;
    font-size: 1.2rem;
    margin-top: 10rem;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
    position: static;
    padding: 2.5rem;
  }
}
