#visao {
  min-height: calc(100vh - 93px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

#visao_content .section-title {
  color: red;
}

#visao_content .section-subtitle {
  color: rgb(38, 0, 255);
}
